.main{
    flex-grow:1;
    background-image: url("./images/background/back.png");
    /* background-color: blue; */
    /* position: fixed;
    min-width : 100%;
    min-height: 100%;
    background-size: cover;
    background-position : center; */
    height: 100%;

}